* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    /* background-color: #4e4e4e; */
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* padding: 0 15px; */
    /* border: 1px solid #777; */
}

img,
video {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
}

video {
    width: 100%;
    height: auto;
}

li,
ul {
    list-style: none;
    padding-left: 0;
}


/* main */

#header {
    display: flex;
    height: 44px;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(232, 243, 243);
}

#nav {
    display: flex;
    float: left;
    /* background-color: rgb(232, 243, 243); */
    width: 80%;
    /* width: max-content; */
    height: 100%;
    z-index: 10;
    shape-outside: linear-gradient(transparent, transparent);
    /* text-overflow: ellipsis; */
}

#subnav {
    background-color: #777;
    z-index: 10;
}

#nav li {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 1%;
    border-top: 0;
    background: 0;
    /* border-left: 1px solid #303030; */
}

#nav>li {
    text-align: center;
    position: relative;
    display: block;
    white-space: nowrap;
    float: left;
    height: 100%;
    justify-content: space-between;
}


/* #nav>li:last-child{
    border-right: 1px solid #303030;
} */

#nav>li a:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid #7ac64d !important;
}

.subnav {
    position: absolute;
    top: 44px;
    left: 0;
    background-color: rgb(232, 243, 243);
    min-width: 160px;
    width: auto;
    transition: top .3s;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.subnav li {
    /* padding-left: 4px; */
    list-style: none;
    text-align: left;
    /* resize: vertical; */
    /* width: max-content; */
}

.subnav li a {
    margin: 0 8px;
    font-size: 13px;
    width: 100%;
}

#nav li:hover .subnav {
    opacity: 1;
    visibility: inherit;
}


/* logo */

.logo {
    display: none;
}

.logo h3 {
    /* position: absolute; */
    color: #7ac64d;
    font-weight: 300;
    font-size: 28px;
    line-height: 0.65;
    font-family: 'Lobster', cursive;
}


/* ******************** */


/* main */

#main {
    min-height: calc(100vh - 293px);
}

#main h1,
#main h3 {
    line-height: 1.6em;
    margin-left: 14px;
}

#title-container {
    /* border: 1px solid black; */
    padding: 12px;
}

#content {
    /* background-color: aqua; */
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 150px auto 300px;
    height: 100%;
}

.main-center .item {
    display: grid;
    grid-template-columns: 186px auto;
    /* min-height: 140px; */
    border-bottom: 1px solid #7ac64d;
}

.main-center .item:last-child {
    border-bottom: none;
}

.item {
    padding: 8px 0;
    margin-right: 10px;
}

.item .item-thumb {
    position: relative;
}

.item-thumb img {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  */
    width: 100%;
}

.item .item-content {
    /* padding: 10px 0; */
    margin: 0 8px;
}

.item .item-content h3 {
    font-size: 18px;
    line-height: 1.2em;
}

.item .item-title a {
    color: #303030;
    /* cursor: pointer; */
}

.item-title:hover a {
    color: #b80f14;
    text-decoration: underline;
}

.item .item-desc {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.1em;
    color: #4d4d4d;
}

.pagination {
    display: flex;
    margin: 30px 0;
    padding-left: 0;
    list-style: none;
}

.page-link {
    padding: 0.375rem 0.75rem;
}

.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.sidebar ul {
    width: 100%;
    margin-top: 8px;
    color: #303030;
}

.sidebar a {
    display: block;
    width: 100%;
    color: #303030;
}

.sidebar ul li {
    padding: 4px 0;
    margin: 0 12px;
    border-bottom: 1px solid #e4e2e2;
    display: block;
}

.sidebar ul li a:hover {
    text-decoration: underline;
    color: #b80f14;
}

.point-right {
    border-left: 1px solid #e5e5e5;
}

.point-right h2 {
    margin-left: 12px;
    font-size: 18px;
}

.point-right .item {
    display: grid;
    border-bottom: 1px solid #7ac64d;
    grid-template-columns: 100px auto;
    margin-left: 4px;
    /* height: 90px; */
}

.point-right .item p {
    font-size: 14px;
    font-weight: 480;
    line-height: 1.1em;
}


/* copy content datri */

.singular-container {
    position: relative;
    margin: 12px;
    font-size: 18px;
    line-height: 1.4em;
    max-width: 992px;
    margin: 0 auto;
    text-align: justify;
}

.singular-container h1 {
    font-size: 30px;
    line-height: 1.4em;
}

.singular-container h2 {
    font-size: 24px;
    line-height: 1.2em;
    margin: 10px 0;
}

.singular-container p {
    margin: 8px 0;
}

.singular-container p strong {
    margin: 8px 0;
    font-size: 20px;
}

.singular-container .author-wrap {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.singular-container .author-wrap div {
    margin: 0 8px;
}

.singular-container .image,
.singular-container .video {
    margin: 16px 0;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.singular-container .singular-source {
    text-align: right;
}


/* END copy content datri*/


/* ----------------------------------------------- */


/* START  home page */

.top-main {
    width: 100%;
}

.top-right {
    /* min-height: 400px; */
    width: 70%;
}

.top-right .item-thumb {
    height: 400px;
}


/* --------------------------------- */


/* banner */

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: top;
    padding: 10px 0;
    height: auto;
    /* border: #777; */
    /* background-color: #ffe; */
    border-bottom: 4px solid rgb(232, 243, 243);
    margin-bottom: 10px;
}

.banner .item {
    /* border: 1px solid #33ffff; */
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.banner .item .item-content {
    margin: 0;
}

.banner-left {
    /* padding: 0 2rem; */
    line-height: 1.7;
}

.banner-left h2 {
    font-size: 2rem;
}

.banner-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* align-items: top; */
    height: auto;
    /* grid-template-columns:  */
}


/* END  home page */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: top;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid rgb(232, 243, 243);
}

.main-content h2,
.content-category h2 {
    padding: 12px 0;
    padding-left: 14px;
    font-size: 20px;
    background-color: rgb(232, 243, 243);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content-category {
    margin: 12px 4px;
}

.main-content .content-category {
    /* text-align: justify; */
    background-color: #e9ecef;
    border-radius: 5px;
}

.main-content .content-category .item {
    border-top: 1px solid #7ac64d;
    margin: 0 8px;
}

.content-category .item .item-content {
    margin: 0;
}

.box-cate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: top;
    grid-gap: 8px;
}

.box-cate .item {
    margin: 0;
}

.box-cate h4:before {
    content: ' \00B7 ';
    padding-right: 6px;
}

.box-cate .item:first-of-type {
    padding-top: 0;
}


/*Begin SREACH */

#header .search {
    position: relative;
    /* padding: 1px;
    margin: 1px; */
    display: flex;
    float: right;
}

.search input[type=text] {
    position: relative;
    padding: 4px 12px 2px;
    outline: 0;
    width: 100%;
    height: 100%;
}

#header .search input[type=text] {
    border-radius: 10px;
    /* border: 1px solid #777; */
}

.search .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: none;
    align-items: center;
    margin: 4px;
    /* height: 96%; */
}

.search .search-btn:hover {
    cursor: pointer;
}


/* ----------------------- */

.search-content {
    width: 700px;
    position: relative;
    margin-right: 100%;
    margin-top: 20px;
}

.main-search {
    width: 760px;
    /* height: 1000px; */
    /* float: left; */
    margin-top: 30px;
    /* border: 1px solid #ccc; */
}

.search-content .search h2 {
    margin: 10px;
}


/*End SREACH */

#search-icon {
    padding: 0 4px;
    cursor: pointer;
    margin-right: 13px;
}

#search-icon:before {
    content: '\f002';
    font-family: fontAwesome;
    line-height: 30px;
    color: #474747;
}

#search-icon.active:before,
#loggle.active:before {
    content: '\f00d';
    font-family: fontAwesome;
}

#header .search {
    position: relative;
    /* padding: 1px; margin: 1px; */
    display: flex;
    float: right;
}


/* ----------------------- */

#search-box {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    background-color: rgb(232, 243, 243);
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    display: none;
    padding: 0 16px;
    transition: all ease 0.5s;
    position: absolute;
    top: 44px;
}

#search-box input {
    width: 96%;
    height: 40px;
    outline: none;
    background: transparent;
    opacity: 0.9;
    border: none;
    color: #2a2829;
    font-size: 16px;
}

.s-icon {
    background-color: rgb(232, 243, 243);
    color: #2a2829;
    border: none;
}

#search-box input::placeholder {
    color: #2a2829;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

#search-box.active {
    display: flex;
}


/*End SREACH */


/* // Small devices (landscape phones, 576px and up) */


/* @media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
} */

.search-content form {
    position: relative;
}


/* ----------------------------------- */


/* footer */

#footer {
    margin-top: 20px;
    clear: both;
    position: relative;
    /* height: 200px; */
    background: #EAEAEA;
}

#footer .footer-menu {
    width: 90%;
    margin: 0 auto;
}

.footer-menu a {
    color: #555;
    width: 16.66%;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4em;
    padding: 12px 0;
    vertical-align: top;
}

.footer-menu a:hover {
    color: #EC1C23;
}

.footer-info {
    border-top: 1px solid #DDD;
    background-color: #ccc;
    padding: 16px 0;
    font-size: 0;
}

.footer-info p {
    /* color: #7ac64d; */
    font-family: Montserrat;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
}


/* // Extra large devices (large desktops, 1200px and up) */

@media screen and (max-width: 1250px) {
    .container {
        width: 100%;
    }
    .top-main .banner,
    .main-center,
    .point-right {
        margin: 0 8px;
    }
    .point-right {
        border-left: none;
    }
    .search-content {
        width: 700px;
        margin: 20px auto;
    }
    .search-content .pagination {
        justify-content: center;
    }
}

#loggle {
    display: none;
}

@media(max-width:992px) {
    #loggle {
        display: block;
        margin-left: 8px;
        cursor: pointer;
    }
    .logo {
        display: block;
        cursor: pointer;
    }
    #loggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        /* display: none; */
    }
    #nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 88px);
        top: 88px;
        /* background-color: rgb(232, 243, 243); */
        background-color: #f1f5f9;
        display: none;
    }
    #nav.active {
        display: block;
    }
    #nav>li {
        position: relative;
        width: 100%;
        height: 40px;
        display: block;
        border-bottom: 1px solid rgb(211, 223, 223);
        /* background-color: red; */
        /* margin-left: auto; */
        color: #000;
    }
    #nav #home a i:before {
        content: 'Trang chá»§';
    }
    #nav li:hover {
        background-color: #f1f5f9;
        background-color: rgb(232, 243, 243);
    }
    #nav li:hover a {
        color: #000;
    }
    #nav li:hover .subnav {
        opacity: 0;
        visibility: hidden;
    }
    #nav>li>a {
        float: left;
    }
    #subnav {
        /* display: none; */
        opacity: 0;
    }
    #search-icon.show {
        opacity: 0;
    }
    #search-box {
        border: 1px solid rgb(211, 223, 223);
        /* height: 36px; */
    }
    /* ----- -------*/
    #content,
    .main-content,
    .box-cate {
        grid-template-columns: 1fr;
    }
    .sidebar ul {
        display: table;
        height: 40px;
        border-bottom: 2px solid #AFAFAF;
        margin-bottom: 8px;
        margin-top: 4px;
    }
    .sidebar ul li {
        float: left;
        border-bottom: none;
        border-right: 1px solid #e4e2e2;
        margin: 4px 0;
        padding: 0 12px;
    }
    .pagination {
        justify-content: center;
    }
    /* ----------------START HOME------------ */
    .top-main .banner {
        grid-template-columns: 1fr;
    }
    .banner-left .item .item-content h3 {
        font-size: 24px;
    }
    .banner .item-thumb {
        margin-bottom: 4px;
    }
    .content-category {
        margin: 18px 12px;
    }
    .search-content {
        width: 100%;
        margin: 20px 4px;
    }
    .search-content .search {
        margin: 0 10px;
    }
    .singular-container {
        margin: 0 6px;
    }
    /*------------- start Categego -----------*/
    .point-right .item {
        /* grid-template-columns: 186px auto; */
        border-bottom: none;
        padding: 4px 0;
    }
    .point-right h2 {
        margin-left: 8px;
        margin-bottom: 4px;
        font-size: 18px;
    }
    /*----------- foooter ------*/
    .footer-menu a {
        padding: 8px;
    }
}

@media(max-width:700px) {
    .footer-menu a {
        width: 25%;
        padding: 4px;
    }
}

@media(max-width:600px) {
    .main-center .item {
        grid-template-columns: 30% auto;
    }
    .main-center .item .item-content h3 {
        font-size: 16px;
        line-height: 1.2em;
    }
    .main-center .item .item-desc {
        font-size: 13px;
        line-height: 1.1em;
        color: #4d4d4d;
    }
    .singular-container h1 {
        font-size: 22px;
        line-height: 1.4em;
    }
    .singular-container h2 {
        font-size: 18px;
    }
    .singular-container p {
        font-size: 15px;
    }
    .content-category .item {
        padding: 4px 0;
    }
    .logo h3 {
        font-size: 24px;
    }
}

@media(max-width:500px) {
    #main h1,
    #main h3 {
        line-height: 1.2em;
        margin-left: 8px;
    }
    .main-center .item .item-desc {
        display: none;
    }
    .main-center .item .item-content h3 {
        font-size: 15px;
        line-height: 1.15em;
    }
    .sidebar ul li {
        padding: 0 4px;
    }
}

@media(max-width:420px) {
    .footer-menu a {
        /* font-size: 12px; */
        width: 33.33%;
    }
    .point-right .item {
        grid-template-columns: 30% auto;
        padding: 2px 0;
    }
    /* #nav li {
        padding: 5px 1%;
        align-items: center;
    }
    #nav>li>a {
        font-size: 16px;
        margin: auto 0;
    } */
}

@media(max-width:320px) {
    .footer-menu a {
        font-size: 12px;
        /* width: 33.33%; */
    }
    .main-center .item .item-content h3 {
        font-size: 13px;
        line-height: 1.15em;
    }
    .point-right .item p {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.1em;
    }
    .footer-info {
        padding: 8px 0;
    }
    .footer-info p {
        font-size: 10px;
    }
    .logo h3 {
        font-size: 22px;
    }
}

@media(max-width:280px) {
    .footer-menu a {
        font-size: 12px;
        /* width: 33.33%; */
    }
    .main-center .item .item-content h3 {
        font-size: 13px;
        line-height: 1.15em;
    }
    .footer-menu a {
        font-size: 10px;
    }
    .logo h3 {
        font-size: 18px;
    }
}